{% extends 'base.html.twig' %}


{% block title %}{{ movie.title }}{% endblock %}

{% block body %}

    <div class="d-flex row">
        <div class="col-md-3"></div>
        <div class="col-md-9">
            <h2>Page du film</h2>
        </div>
    </div>
    
{% endblock %}
