{% extends 'base.html.twig' %}

{% for movies in movie %}

	{% block title %}Movie
	{% endblock %}

	{% block body %}
		<div class="album py-5 bg-light">
			<div class="container">
				<div class="row">
				<h2>Page du film</h2>
                </div>
			</div>
		</div>

	{% endblock %}

{% endfor %}
