{% extends 'base.html.twig' %}

{% block body%}
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Underthemovies</h1>
                <p class="lead text-muted">Les nouvelles citations</p>
                <p>
                    <a href="{{ path('quotes') }}" class="btn btn-secondary my-2">Toutes les quotes</a>
                </p>
            </div>
        </section>

        <div id="quotes" class="album py-5 bg-light">
            <div class="container">
                <h2>Les prochaines citations</h2>
                <div class="row">
                    {{ render(controller('App\\Controller\\DefaultController::quote')) }}
                </div>
            </div>
        </div>
{% endblock %}
