{% extends 'base.html.twig' %}

{% block title %}Nouvelles citations{% endblock %}

{% block body %}
				<div>
					{{ render(controller('App\\Controller\\DefaultController::quote')) }}
				</div>
{% endblock %}
