{% extends 'base.html.twig' %}
{% block title %}Quote{% endblock %}
{% block body %}

<h1>Quote</h1>
    <div class="row">
        <div class="col-md-12">
            <h1>{{ quote.user }}</h1>
            <span class="badge badge-pill badge-secondary" data-toggle="tooltip" data-placement="top" title="Ville">
                        <i class="fa fa-map-pin"></i>
                        {{ quote.content }}
            </span>
        </div>
    </div>



{% endblock %}