{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <h4><strong>{{ personage.name }}</strong></h4>
        <hr>
        {% for moviePersonage in personage.moviePersonages %}
            <p>{{ moviePersonage.person.firstname }} {{ moviePersonage.person.lastname }}</p>
        {% endfor %}
    </div>


    {% for moviePersonage in personage.moviePersonages %}
        {% for quote in moviePersonage.quotes %}
            {{ include('default/_quote.html.twig') }}
        {% endfor %}
    {% endfor %}







{% endblock %}